body {
    overflow-y: hidden;
}

.course {
    position: absolute;
    top: 9rem;
    left: 10%;
    width: 80%;
    height: 82vh;
    background-color: #85A0A6;
    border-radius: 10px;
    overflow-y: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-inline: 5rem;

    @media screen and (max-width: 768px) {
        top: 8rem;
        left: 5%;
        width: 90%;
        height: 85vh;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-inline: 3rem;
    }

    @media screen and (max-width: 480px) {
        padding-inline: 1rem;
    }
}

.course h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 2rem;        
    }
}

.course h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;        
    }
}

.course h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.course p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: #000;
    margin: 2.5rem 0;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;
    }
}

.course li {
    list-style: square;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    margin: 0 2rem;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.course .num li {
    list-style: decimal;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    margin: 0 2rem;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.course b {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.course a {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.course table {
    border-collapse: collapse;
    margin: 2rem 0;
    width: 100%;
}

.course table th {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    padding: 1rem;
    border: 1px solid #000;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.course table td {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    padding: 1rem;
    border: 1px solid #000;

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;        
    }
}

.exercise {
    background-color: #637AA6;
    border-radius: 10px;
    padding: 1rem;
}
