.code-display-title {
    height: 3rem;
    background-color: #3a404d;
    border-radius: 0.5rem 0.5rem 0 0;
    /* font-size: 1.5rem; */
}

#code-p {
    font-size: 1.3rem;
    margin-left: 1rem;
    padding: 0.3rem;
    color: #fff;
}

.code-display {
    border-radius: 0 0 0.5rem 0.5rem;
}