.continue-course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30rem;
}

.continue-course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 72rem;
    height: 20rem;
}

.continue-course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.continue-course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.continue-course-preview {
    background-color: #637AA6;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

.continue-course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.continue-course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 147px;
    text-align: right;
    width: 150px;

    @media screen and (min-width: 768px) {
        right: 30px;
        top: 30px;
    }
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.progress-filled {
    background-color: #85A0A6;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.btn {
    text-decoration: none;
    background-color: #85A0A6;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}
